# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables / secrets
.env
*.env

# Airflow
airflow/logs/
airflow/airflow.db
airflow/standalone_admin_password.txt

# Generated data
data/raw/
data/processed/
data/quality_reports/

# Local databases
*.db
*.sqlite
*.sqlite3

# Power BI temporary/backup files
*.pbit
~$*.pbix

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python test/cache
.pytest_cache/
.coverage
htmlcov/